alembic==1.4.2
appdirs==1.4.4
autopep8==1.5.3
bcrypt==3.1.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.3
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
pbr==5.4.5
pipenv==2020.6.2
psycopg2-binary==2.8.5
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.18
stevedore==3.2.0
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.27
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1

to activate venv - source venv/bin/activate
to open local database - sqlite3 api/database.database
there is two tables in the local db - user_data and job_listings

link to api - https://jobs.github.com/api
endpoint used in search form - https://jobs.github.com/positions?description=python&location=new+york
endpoint used to get all job listings - https://jobs.github.com/positions.json?

to run locally you must be in venv and then add this to the commandline
1. export FLASK_APP=api
2. export FLASK_DEBUG=1
3. then flask run 

this app is set up for automatic deployment
depoloyed version is here: https://application-station.herokuapp.com
https://dashboard.heroku.com/apps/application-station

get list of all users: https://application-station.herokuapp.com/api/users


flask migration commands
flask db Migrate
flask db upgrade
flask db --help

flask docs - https://flask.palletsprojects.com/en/1.1.x/quickstart/

postgres db for deployed version

local frontend Desktop/v5 on Ada loaner laptop
frontend deployed on gh-pages here: https://freemonkey19.github.io/application-station/

install: 
virtualenv
flask
python
pip3
psycopg2

I used `pip3` or `python -m` to install technologies depending on the docs being read


